.navbar {
  color: #fff;
  padding: 1rem 0;
  background-color: #6da0e7;
  height: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text {
  font-size: 13px;
}

.logo {
  mix-blend-mode: multiply;
  filter: hue-rotate(180deg);
  width: 40%;
  height: 40%;
}

.navLinks {
  list-style: none;
  display: flex;
  white-space: nowrap;
}

.navLinks li {
  margin-right: 1rem;
}

.navLinks li a {
  text-decoration: none;
  color: #fff;
}

.navLinks li a:hover {
  color: #ddd;
}
